img.adModelView {
    padding:2px;
    width:65px;
    height:65px;
    margin:0px;
}

img.subscriberPageImage {
    padding:2px;
}


.adModelViewTitle {
    font-weight: bold;
    font-size: 1.1rem;
    /*padding-left: ;*/
}

.adModelViewDescription {

}

.adModelViewRedeem {
    vertical-align:bottom;
    padding-right: 6px;
    float:right;
}

td#adModelViewImageRow {
    width:65px;
}

#ad {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#ad table {
    width:100%;
}

.adModelViewContent {
    padding-left: 6px;
}

.topcoat-list__header {
    color:#3879D9;
}

.refresh-icon {
    background: url("../topcoat/img/refresh-grey.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

/*.redeem-button {*/
    /*float:right;*/
    /*background: url("../topcoat/img/redeem.svg") no-repeat;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*background-size: cover;*/
    /*width: 60px;*/
    /*height: 20px;*/
/*}*/

.topcoat-list__item {
    /*width:100%;*/
}

.topcoat-button--cta.redeem-button {
    line-height: 1.2rem;
    font-size: 10px;
    /*width: 60px;*/
    /*height: 20px;*/
}

.centerImageChild {
    /*margin-right:5px;*/

    /*width:420px;*/
    /*height:108px;*/
    overflow:hidden;
}

.centerImageChild img {
    display : block;
    margin : auto;
}

.centerImageParent {
    margin-bottom:5px;
    /*padding:5px;*/
}

img.qrcode {
    display:block;
    overflow: hidden;
    margin:auto;
    padding:0px;
    width:100%;
    height: auto;
}

img.splash {
    display:block;
    overflow: hidden;
    margin:auto;
    padding:0px;
    width:100%;
    height: auto;
}