img.adModelView {
    padding:2px;
    width:65px;
    height:65px;
    margin:0px;
}

img.subscriberPageImage {
    padding:2px;
}


.adModelViewTitle {
    font-weight: bold;
    font-size: 1.1rem;
    /*padding-left: ;*/
}

.adModelViewDescription {

}

.adModelViewRedeem {
    vertical-align:bottom;
    padding-right: 6px;
    float:right;
    display:inline-block;
}

.adModelViewDistance{
/*    margin-bottom:0px;*/
    height:auto;
    width:auto;
    vertical-align:bottom;
    font-size:13px;
    margin:0px;
    margin-left:15px;
    color:#585858;
    display:inline-block;
}

.adModelViewLocation {

    height:auto;
    width:auto;
    margin:0px;
    margin-bottom:1px;
    text-align:right;
    padding:0px;
    padding-right:6px;
    display:inline-block;
    vertical-align:top;
/*    float:right;*/
}

.adModelViewBottomRow{
    margin-bottom:4px;
}

.adModelViewLocationTableCell {
    text-align:right;
    
}

.adModelViewContent {
    padding-left: 6px;
    display:inline-block;
    width:55%;
    vertical-align:top;
}

td#adModelViewImageRow {
    width:65px;
}

.adModelViewImageRow {
    width:auto;
    display:inline-block;
}

#ad {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#ad table {
    width:100%;
    margin:0px;
}

/*
#clit {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#clit table {
    width:100%;
    margin:0px;
}
*/

.topcoat-list {
    height:inherit;   
}

.topcoat-list__header {
    color:#3879D9;
}



/*.redeem-button {*/
    /*float:right;*/
    /*background: url("../topcoat/img/redeem.svg") no-repeat;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*background-size: cover;*/
    /*width: 60px;*/
    /*height: 20px;*/
/*}*/

.topcoat-list__item {
    /*width:100%;*/
}

.topcoat-button--cta.redeem-button {
    line-height: 1.2rem;
    font-size: 10px;
    /*width: 60px;*/
    /*height: 20px;*/
}

.centerImageChild {
    /*margin-right:5px;*/

    /*width:420px;*/
    /*height:108px;*/
    overflow:hidden;
}

.centerImageChild img {
    display : block;
    margin : auto;
}

.centerImageParent {
    margin-bottom:5px;
    /*padding:5px;*/
}

img.qrcode {
    display:block;
    overflow: hidden;
    margin:auto;
    padding:0px;
    width:100%;
    height: auto;
}

img.splash {
    display:block;
    overflow: hidden;
    margin:auto;
    padding:0px;
    width:100%;
    height: auto;
}

.topcoat-navigation-bar__title {
    font-size:1.7rem;
}

.scrollable {
/*    min-height:;*/
    position:absolute;
    left:0px;
    right:0px;
    top:90px;
    bottom:0px;
    overflow-y:auto;        
}

.subscriber-header {
    background-color:#676767;
    color:#ffffff;
    text-align:center;
    font-size:2rem;
}


.type-one {
    width:10%;
}

.left {
    position:absolute;
    text-align:center;
    left:0px;
    padding-left:1%;
    width:auto;
}

.center {
    margin-left:auto;
    margin-right:auto;
/*    right:0%;*/
    position:absolute;
    left:12.5%;
    width:75%;
/*    float:center;*/
}

.right {
    position:absolute;
    width:auto;
    right:0px;
    padding-right:1%;
    text-align:center;
/*    float: right;*/
}

.topcoat-navigation-bar {
    width:100%;
/*
    padding-left:0.5%;
    padding-right:2%;
*/
    padding:0px;
    overflow-x:hidden;
    border-bottom:none;
    box-shadow:none;
}

.navigation-bar-container {
    
}

#homeViewHeader.topcoat-list__header {
    border-top:none;
    border-bottom:none;
/*    height:22px;*/
    padding:0px;
}

#homeViewHeaderButtonBar {
    margin:auto;
    padding-top:1px;
    padding-bottom:1px;
/*    float:right;*/
    text-align:center;
}

#homeViewHeaderButtonBar .topcoat-button-bar__item button{
/*    height:auto;*/
    padding-left:auto;
    line-height:22px;
    margin:0px;

}

#extra.topcoat-list__container {
    overflow-y:auto;
    position:absolute;
    top: 98px;
    left:0px;
    right:0px;
    bottom:0px;
    
}

/*
#homeViewHeaderButtonBar .topcoat-button-bar__item button:focus {
    border:none;
    box-shadow:none;
    outline:none;
    color:#3879D9;
}
*/

.share-icon {
    background: url("../css/images/share.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    border:none;
}

.heart-icon {
    background: url("../css/images/heart.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    border:none;
}

.like-icon {
    background: url("../css/images/like.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    border:none;
}

