<!--
<div style="text-align: left;">
        <table>
            <tr>
                <td id="adModelViewImageRow" rowspan="2">
                    <div>
                        <img class="adModelView" src="<%= imgUrl %>">
                    </div>
                </td>
                <td style="height:100%;vertical-align:top">
                    <div class="adModelViewContent">
                        <div class="adModelViewTitle"><%= title %></div>
                        <div class="adModelViewDescription"><%= description %></div>

                    </div>
                </td>
                <td class="adModelViewLocation">
                        <div id="gotoMap" class="topcoat-icon-button">
                            <button class=" topcoat-icon location-icon"></button>
                        </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="adModelViewDistance"><%=clubTitle%> ~2mi</div>
                </td>
                <td>
                    <div class="adModelViewRedeem">
                        <button class="topcoat-button--cta redeem-button">Redeem</button>
                    </div>
                </td>

            </tr>
        </table>
</div>
-->

<div id="adCanvas">

    <div id="adModelViewImageRow" class="adModelViewImageRow">
        <img class="adModelView" src="<%= imgUrl %>">
    </div>
    
    <div class="adModelViewContent">
        <div class="adModelViewTitle"><%= title %></div>
        <div class="adModelViewDescription"><%= description %></div>
    </div>
    <div class="adModelViewLocation">
        <div id="gotoMap" class="topcoat-icon-button">
            <button class=" topcoat-icon location-icon"></button>
        </div>
    </div>
    <div class="adModelViewBottomRow">
        <div class="adModelViewDistance"><%=clubTitle%> ~2mi</div>
        <div class="adModelViewRedeem">
            <button class="topcoat-button--cta redeem-button">Redeem</button>
        </div>
    </div>
    
    <!--
    <div style="float:left;">
        
        
        
    </div>
    -->
</div>
