<div class="topcoat-navigation-bar">
    <div class="navigation-bar-container">
        <div class="topcoat-navigation-bar__item left">
            <div class="topcoat-icon-button">
                <span class="topcoat-icon refresh-icon"></span>
            </div>
        </div>
        <div class="topcoat-navigation-bar__item center">
    <!--        <h1 class="topcoat-navigation-bar__title" ><b><%= title %></b></h1>-->
            <span class="topcoat-navigation-bar__title" >
                <b><%= title %></b>
            </span>
        </div>
        <div class="topcoat-navigation-bar__item right">
            <a class="topcoat-icon-button" href="#explore">
                <span class="topcoat-icon settings-icon"></span>
            </a>
        </div>
    </div>
</div>
<div id="homeViewList" class="topcoat-list">
    <div id="homeViewHeader" class="topcoat-list__header">
        <div id="homeViewHeaderButtonBar" class="topcoat-button-bar">
            <div class="topcoat-button-bar__item">
                <button id="distance" class="topcoat-button-bar__button">Distance</button>
            </div>
            <div class="topcoat-button-bar__item">
                <button id="deals" class="topcoat-button-bar__button">Hot Deals</button>
            </div>
            <div class="topcoat-button-bar__item">
                <button id="clits" class="topcoat-button-bar__button">Clits</button>
            </div>
        </div>
    </div>
    <ul id="extra" class="topcoat-list__container"></ul>
</div>